<h1> <%= pluralize(@recipes.count, 'Receita', 'Receitas') %></h1>


	<% @recipes.each do |recipe| %>
	<article>
		<header>
		<h2><%= link_to recipe.name , recipe %></h2>
			<%= image(recipe) %>
		</header>
		<p>
			<%= truncate(recipe.stuff, length:15, separator: ' ' ) %>
		</p>

	   <p>
	   	   <%= formata_caloria(recipe) %>
	   </p>
	   <strong>Tempo de Preparo</strong>
	   <p>
	   	<%= recipe.duration.to_formatted_s(:time) %> Min
	   </p>
	 <table>
	 	<tr>
	 		<th>Modo de Preparo</th>
	 		<td><%=recipe.prepare_mode %></td>
	 	</tr>
	 	<tr>
	 		<th>Custo do Prato</th>
	 		<td><%= number_to_currency(recipe.cost) %></td>

	 	</tr>


	 </table>
	
	
	<% end %>
	</article>

<br>

<%= link_to 'Nova Receita' , new_recipe_path %>